
body
  font-family: 'Open Sans', sans-serif
.title
  font-family: 'Roboto', sans-serif
.container
  margin: 0 auto
  max-width: 1140px
  @media   ( max-width: 1200px )
    max-width: 950px
  @media   ( max-width: 992px )
    max-width: 700px
  @media   ( max-width: 768px )
    max-width: 540px
  @media   ( max-width: 600px )
    max-width: 92%
  @media   ( max-width: 320px )
    max-width: 272px
.button
  display: flex
  justify-content: center
  align-items: center
  border: none
  cursor: pointer
input
  border: none
  &:focus
    outline: none

a
  cursor: pointer

.form
  position: relative
form > label
  position: absolute
  top: -25px
  color: $text-main
  font-size: 16px
  text-shadow: 1px 1px $btn-clr
  animation-name: fade
  animation-duration: 0.2s
  @keyframes fade
    from {opacity: 0;top:-15px;}
    to {opacity: 1;top:-25px;}
  @keyframes fade-small
    from {opacity: 0;top:-10px;}
    to {opacity: 1;top:-13px;}

button:active, button:focus
  outline: none !important

button::-moz-focus-inner
  border: 0 !important
a:active, a:focus
  outline: none

input, textarea
  outline: none
input:active, textarea:active
  outline: none
textarea
  resize: none
textarea
  resize: vertical
textarea
  resize: horizontal

.back_to_top
  position: fixed
  bottom: 40px
  right: 40px
  z-index: 9999
  width: 40px
  height: 40px
  text-align: center
  line-height: 35px
  background: $footer-bg
  border: 1px solid rgba($text-main , 0.4)
  color: $text-white
  cursor: pointer
  border-radius: 2px
  display: none
  @media screen and ( max-width: 768px )
    bottom: 20px
    right: 20px
  @media screen and ( max-width: 600px )
    width: 30px
    height: 30px
    line-height: 25px
  &:hover
    background: rgba($footer-bg, 0.5)
  &-show
    display: block
