.author
  display: flex
  align-items: center
  justify-content: space-between
  &__block
    display: grid
    grid-template-columns: repeat(2, max-content )
    grid-template-rows: repeat(2, max-content)
    text-decoration: none
  &__avatar
    width: 40px
    height: 40px
    border-radius: 50%
    grid-row: span 2
    grid-column: span 1
    margin: auto
    margin-right: 12px
    @media   ( max-width: 320px )
      width: 36px
      height: 36px
  &__name
    display: block
    grid-row: span 1
    grid-column: span 1
    font-weight: 600
    font-size: 16px
    line-height: 22px
    margin-bottom: 4px
    @media   ( max-width: 320px )
      font-size: 14px
      line-height: 20px
      margin-bottom: 2px
    &_light
      color: $text-dark
    &_dark
      color: $text-white
  &__verified
    grid-row: span 1
    grid-column: span 1
  &__writer
    display: block
    font-size: 14px
    line-height: 19px
    font-style: italic
    padding-left: 24px
    @media   ( max-width: 320px )
      font-size: 12px
      line-height: 16px
    &_light
      color: $text-main
      background-image: url(../img/verified-light.svg)
      background-repeat: no-repeat
      background-size: 16px

      background-position: left 53%
    &_dark
      color: $text-main
      background-image: url(../img/verified-dark.svg)
      background-repeat: no-repeat
      background-size: 16px

      background-position: left 53%
  &__visited
    font-weight: 600
    font-size: 16px
    line-height: 22px
    @media   ( max-width: 320px )
      font-size: 14px
      line-height: 20px
    &_light
      color: $text-main
    &_dark
      color: #959EAD
