.hero
  height: 700px
  background-image: url(../img/hero-bg.png)
  background-repeat: no-repeat
  background-size: cover
  background-position: top center
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  position: relative
  &__title
    margin-top: 120px
    margin-bottom: 41px
    font-weight: bold
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    color: $text-white
  &__form
    width: 100%
    max-width: 760px
    min-height: 56px
    position: relative
    margin-bottom: 24px
  &__input
    width: 100%
    height: 100%
    padding: 17px 125px 17px 52px
    font-weight: 600
    font-size: 16px
    line-height: 22px
    color: $text-main
    border-radius: 8px
    overflow: hidden
  &__icon
    position: absolute
    top: 20px
    left: 20px
  &__button
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 8px
    background-color: $btn-clr
    color: $text-white
    padding: 9px 21px
    max-width: 94px
    min-height: 40px
    font-weight: bold
    font-size: 16px
    line-height: 22px
    border-radius: 8px
  &__popular-tags
    display: flex
    width: 100%
    max-width: 760px
    justify-content: start
    align-items: center
    margin-bottom: 95px
  &__text
    font-weight: 600
    font-size: 16px
    line-height: 22px
    margin-right: 13px
    color: $text-white
  &__list
    display: flex
    padding: 0
    margin: 0
  &__tag
    padding: 5px 17px
    border-radius: 4px
    border: 1px solid rgba(white, 0.7)
    background-color: transparent
    color: $text-white
    margin-right: 20px
    font-size: 14px
    line-height: 20px
    text-decoration: none
  &__item
    &:nth-child(2)
      & > a
        padding: 5px 17px
    &__item
      &:nth-child(3)
        & > a
          padding: 5px 17px
    &__popular-tags
      margin-bottom: 34px
.header
  width: 100%
  &__navbar
    padding: 26px 0
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
  &__nav
    margin-left: auto
  &__list
    display: flex
    max-width: 423px
    justify-content: start
    align-items: center
    &-drop
      opacity: 0
      visibility: hidden
      position: absolute
      padding: 0
      display: flex
      align-items: end
      flex-wrap: wrap
      background-color: rgba(white, 0.05)
      transition: opacity 0.2s ease
  &__item
    margin-right: 32px
    &_hover
      position: relative
      &:hover ul
        opacity: 1
        visibility: visible
        text-decoration: none
    &-drop
      padding: 5px
  &__link
    color: $text-white
    text-decoration: none
    position: relative
    font-weight: 600
    font-size: 16px
    line-height: 22px
    &_drop
      color: $bg
  &__button
    max-width: 131px
    min-height: 48px
    background: transparent
    border: 2px solid #FFFFFF
    border-radius: 8px
    color: $text-white
    padding: 0 26px
    margin-left: 80px
    font-weight: bold
    font-size: 16px
    line-height: 22px
  &__down
    position: absolute
    left: 80px
    top: 50%
    transform: translateY(-45%)
    padding: 3px
  &__menu-btn
    background: transparent
    border: none
    display: none
    z-index: 500
@media   ( max-width: 1200px )
  max-width: 950px
@media   ( max-width: 992px )
  .hero
    &__form,&__popular-tags
      max-width: 600px
  .header
    &__button
      margin-left: 20px
@media   ( max-width: 768px )
  .hero
    &__form,&__popular-tags
      max-width: 500px
    &__popular-tags,&__list
      flex-wrap: wrap
    &__text
      margin-bottom: 12px
      font-size: 14px
      line-height: 20px
  .header
    &__list
      flex-direction: column
      justify-content: start
      align-items: start
      padding: 0
    &__nav
      display: none
      position: absolute
      right: 0
      left: 0
      top: 80px
      &_visible
        display: block
    &__button
      display: none
      &_visible
        display: block
    &__menu-btn
      display: block
@media   ( max-width: 600px )
  .hero
    &__form,&__popular-tags
      max-width: 400px
    &__item:nth-child(3)
      margin-top: 11px
    &__title
      font-size: 32px
      line-height: 40px
      margin-top: 60px
    &__input
      height: 48px
      padding: 17px 52px 17px 52px
    &__icon
      top: 17px
      left: 16px
    &__form
      overflow: visible
      display: flex
      flex-direction: column
      justify-content: space-between
      min-height: 108px
      margin-bottom: 16px
    &__button
      position: static
      transform: translateY(0)
      max-width: 100%
      padding: 13px 0
    &__popular-tags
      margin-bottom: 34px
@media   ( max-width: 450px )
  .hero
    &__form,&__popular-tags
      max-width: 92%
@media   ( max-width: 320px )
  .hero
    height: 482px
    background-image: url(../img/hero-bg-mobile.png)
    &__form,&__popular-tags
      max-width: 272px
    &__title
      margin-top: 40px
      margin-bottom: 30px
    &__input
      padding: 13px 44px

    &__tag
      margin-right: 12px
      &:nth-child(2)
        margin-right: 0

  .header
    &__logo
      width: 77px
      height: 44px
    &__navbar
      padding: 10px 0
    &__menu-btn
      margin-right: -5px
