.hero
  height: 742px
  background-image: url(../img/hero-bg.png)
  background-repeat: no-repeat
  background-size: cover
.header
  &__navbar
    padding: 26px 0
    padding-top: 22px
    display: flex
    justify-content: space-between
    align-items: center
  &__nav
    margin-left: auto
  &__list
    display: flex
    max-width: 423px
    justify-content: start
    align-items: center
  &__item
    margin-right: 31px
  &__link
    color: $text-white
    text-decoration: none
    position: relative
    font-weight: 600
    font-size: 16px
    line-height: 22px
  &__button
    max-width: 131px
    min-height: 48px
    background: transparent
    border: 2px solid #FFFFFF
    border-radius: 8px
    color: $text-white
    padding: 0 26px
    margin-left: 80px
    font-weight: bold
    font-size: 16px
    line-height: 22px
  &__down
    position: absolute
    right: -14px
    top: 50%
    transform: translateY(-45%)
    padding: 3px
